/* Default / extra small devices */

i.fa.fa-temp-messenger:before {
  content: "";
  display: inline-block;
  width: 1.0rem; /* Set to your font-size */
  height: 1.0rem; /* Set to your font-size */
  position: relative;
  vertical-align: middle;
  background-blend-mode: color-dodge;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.83 55.1"><path class="cls-1" style="fill:white" d="M0,26.27q0-.76,0-1.52c0-.2.07-.39.1-.59.2-1.38.28-2.79.6-4.14A24.73,24.73,0,0,1,11,5.08a28.26,28.26,0,0,1,19.18-5,27.59,27.59,0,0,1,5.84,1.15A26.92,26.92,0,0,1,49.35,10.2,23.86,23.86,0,0,1,54.8,26.85a22.48,22.48,0,0,1-.66,4.44,24.86,24.86,0,0,1-9.42,14A28.17,28.17,0,0,1,25.66,51a29.58,29.58,0,0,1-5.77-.91.9.9,0,0,0-.6.07C17,51.41,14.63,52.7,12.3,54l-2,1.12v-.44c0-3,0-5.91,0-8.87a.7.7,0,0,0-.31-.63,25.67,25.67,0,0,1-6.07-6.6A23.77,23.77,0,0,1,.09,26.78,4,4,0,0,0,0,26.27Zm45-7.76L45,18.44l-.32.15-12.6,7a.43.43,0,0,1-.63-.08q-2.89-3.06-5.8-6.09c-.36-.37-.74-.71-1.14-1.09L9.65,34.22l.07.09.72-.38q6.19-3.4,12.37-6.81a.44.44,0,0,1,.66.12c.41.47.84.91,1.26,1.36q2.59,2.79,5.18,5.58c.2.22.32.21.5,0s.6-.65.9-1l13.13-14C44.66,19,44.85,18.73,45,18.51Z"/></svg>') no-repeat;;
}
i.fa.fa-temp-messenger-black:before {
	content: "";
  display: inline-block;
  width: 1.2rem; /* Set to your font-size */
  height: 1.2rem; /* Set to your font-size */
  position: relative;
  vertical-align: middle;
  background-blend-mode: color-dodge;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.83 55.1"><path class="cls-1" style="fill:#242424" d="M0,26.27q0-.76,0-1.52c0-.2.07-.39.1-.59.2-1.38.28-2.79.6-4.14A24.73,24.73,0,0,1,11,5.08a28.26,28.26,0,0,1,19.18-5,27.59,27.59,0,0,1,5.84,1.15A26.92,26.92,0,0,1,49.35,10.2,23.86,23.86,0,0,1,54.8,26.85a22.48,22.48,0,0,1-.66,4.44,24.86,24.86,0,0,1-9.42,14A28.17,28.17,0,0,1,25.66,51a29.58,29.58,0,0,1-5.77-.91.9.9,0,0,0-.6.07C17,51.41,14.63,52.7,12.3,54l-2,1.12v-.44c0-3,0-5.91,0-8.87a.7.7,0,0,0-.31-.63,25.67,25.67,0,0,1-6.07-6.6A23.77,23.77,0,0,1,.09,26.78,4,4,0,0,0,0,26.27Zm45-7.76L45,18.44l-.32.15-12.6,7a.43.43,0,0,1-.63-.08q-2.89-3.06-5.8-6.09c-.36-.37-.74-.71-1.14-1.09L9.65,34.22l.07.09.72-.38q6.19-3.4,12.37-6.81a.44.44,0,0,1,.66.12c.41.47.84.91,1.26,1.36q2.59,2.79,5.18,5.58c.2.22.32.21.5,0s.6-.65.9-1l13.13-14C44.66,19,44.85,18.73,45,18.51Z"/></svg>') no-repeat;;
}

html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: #242424;
	line-height: 1.65;
}
.wrapper {
	flex: 1;
}

a {
	color: #D92935;
}
a:hover,
a:focus,
a:active,
a:visited {
	text-decoration: none;
	color: #D92935;
}
span.wpcf7-not-valid-tip {
	color: #D92935;
}
div.wpcf7-response-output {
	margin-left: 0;
	margin-right: 0;
	color: white;
	background-color: #D92935;
	border-color: #D92935;
}
div.wpcf7-validation-errors {
	background-color: #D92935;
	border-color: #D92935;
}
div.wpcf7-mail-sent-ok {
	background-color: #26A65B;
	border-color: #26A65B;
}
p span {
	color: #D92935;
}

.noPadding {
	padding: 0;
}
.decPadding {
	padding: 5px;
}

.bttn {
	display: block;
	padding: 10px 20px;
	width: 100%;
	background-color: #D92935;
	color: white;
	border: 0;
}

/* Panel component */

.panel {
	border: 1px solid #F7F7F7;
	margin: 15px 0;
	margin-bottom: 60px;
}

.panel_content {
	padding: 30px;
	position: relative;
	color: white;
}
.panel_content:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 0;
}
.panel_content > * {
	position: relative;
}

.panel_title {
	margin-bottom: 40px;
	display: inline-block;
}
.panel_desc {
}
.panel_desc ul {
	margin-bottom: 0;
}
.panel_append {
	overflow: hidden;
	background-color: #F7F7F7;
	padding: 15px;
	box-shadow: inset 0 0 10px rgba(46,61,73,0.2);
}

/* Box component */

.box {
	box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
	border: 1px solid #F7F7F7;
	margin-bottom: 15px;
	max-width: 250px;
	margin: 20px auto;
}
.box_title {
	font-size: 1.2em;
}
.box_content {
	background-color: white;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.box_info {
	background-color: white;
	padding: 10px;
	color: #242424;
	border-top: 1px solid #F7F7F7;
}
.box_desc {
	font-size: 0.8em;
}
.box_link {
	font-size: 0.8em;
	padding-top: 15px;
	color: #D92935;
}

.mobileHeader {

}
.mobileHeader_navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	padding: 0 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px;
	z-index: 99999;
}
.mobileHeader_activeNav {
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0;
}
.mobileHeader_navbarToggle {
	display: block;
	width: 25px;
	height: 45px;
	margin-right: 10px;
	margin-bottom: 0;
	float: left;
	cursor: pointer;
	padding: 21px 0;

	transition: transform 0.5s;
}
.mobileHeader_navbarToggleIcon {
	background-color: #242424;
	width: 100%;
	height: 3px;
	position: relative;
}
.mobileHeader_navbarToggleIcon:before,
.mobileHeader_navbarToggleIcon:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	background-color: #242424;
}
.mobileHeader_navbarToggleIcon:before {
	top: -7px;
	transition: width 0.5s, top 0.5s, transform 0.5s;
}
.mobileHeader_navbarToggleIcon:after {
	bottom: -7px;
	transition: width 0.5s, bottom 0.5s, transform 0.5s;
}
.mobileHeader_menu {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99998;

	transition: opacity .5s, visibility .5s;
}
.mobileHeader_menu ul {
	list-style: none;
	padding: 70px 0;
	margin: 0;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.2) 3px 0px 3px 0px;

	position: fixed;
	width: 100%;
	max-width: 200px;
	top: 0;
	bottom: 0;
	left: -200px;
	z-index: 99998;

	transition: left 0.5s;
}
.mobileHeader_menu ul li a {
	color: #242424;
	display: block;
	padding: 10px 20px;
}
.mobileHeader_menu ul li.current-menu-item a {
	color: #D92935;
}
.mobileHeader_menu ul li a:hover {
	text-decoration: none;
	background-color: #D92935;
	color: white;
}
.mobileHeader_check {
	display: none;
}
.mobileHeader_check:checked ~ .mobileHeader_navbar .mobileHeader_navbarToggle {
	transform: rotate(360deg);
}
.mobileHeader_check:checked ~ .mobileHeader_navbar .mobileHeader_navbarToggleIcon:before {
	width: 12px;
	height: 3px;
	background-color: #242424;
	transform: rotate(-45deg);
	left: 0;
	top: -5px;
}
.mobileHeader_check:checked ~ .mobileHeader_navbar .mobileHeader_navbarToggleIcon:after {
	width: 12px;
	height: 3px;
	background-color: #242424;
	transform: rotate(45deg);
	left: 0;
	bottom: -5px;
}
.mobileHeader_check:checked ~ .mobileHeader_menu {
	opacity: 1;
	visibility: visible;
}
.mobileHeader_check:checked ~ .mobileHeader_menu ul {
	left: 0;
}

.mainHeader {
	display: none;
}

.mainContent {
	margin-top: 45px;
}

.mainFooter {
	background-color: #424242;
	color: white;
	font-size: 14px;
}
.mainFooter_contact {
	padding: 20px 20px 0 20px;
}
.mainFooter_social {
	padding: 0 20px 0 20px;
}
.mainFooter_contactInfo {
	padding-bottom: 10px;
}
.mainFooter_contactInfo i {
	float: left;
	padding: 5px 0;
	margin-right: 20px;
}

.mainFooter_socialInfo {
	text-align: left;
	padding-bottom: 10px;
}
.mainFooter_socialInfo a {
	color: white;
}
.mainFooter_socialInfo i {
	float: left;
	padding: 5px 0;
	margin-right: 20px;
}
.mainFooter_socialInfo span {
	text-align: right;
	white-space: nowrap;
}

.mainFooter_copy {
	text-align: center;
	margin-top: 15px;
	padding: 10px 0;
	border-top: 1px solid #646567;
}
.mainFooter_copy-plain {
	border: 0;
	margin-top: 0;
}

/* Misc */

/* Page Layout */

.pageSection {
	min-height: 300px;
	padding: 20px 0;
	margin-bottom: 20px;
}
.pageSection_title {
	text-align: center;
	padding: 5px 15px 40px 15px;
}

/* Home page */

.home {
}
.home_atf {
	position: relative;
	background-color: white;
	background-image: url('../../assets/images/tower-bg2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #F7F7F7;
	margin-bottom: 60px;
	overflow: hidden;
}
.home_atf:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 0;
}

.home_atfHeader {
	display: block;
	position: relative;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.95);
}
.home_atfHeaderLogo {
	max-width: 340px;
	margin: 0 auto;
	padding: 40px 30px 0 30px;
}

.home_atfHeaderCaption {
	margin: 0 auto;
	max-width: 400px;
	text-align: center;
	padding: 40px 30px 30px 30px;
}
.home_atfHeaderCaption span {
	color: #D92935;
}
.home_atfHeaderMore {
	padding-bottom: 15px;
	text-align: center;
}
.home_atfHeaderMore a {

}

#homePageMore {
	padding-bottom: 80px;
}

.home_solutions .solution {
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 50px;
	box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
}
.home_solutions .solution_image {
	height: 200px;
}
.home_solutions .solution_title {
	text-align: center;
	font-size: 1.5em;
	color: #D92935;
	padding: 10px 0;
	border-bottom: 1px solid #DBDBDB;
}
.home_solutions .solution_desc {
	padding-top: 15px;
	text-align: center;
}
.home_solutions .solution_desc ul {
	display: inline-block;
	text-align: left;
	padding-left: 10px;
}

.home_solution {
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: none;
}
.home_solution .box_content {
	height: 200px;
	background-size: cover;
	background-position: center;
}
.home_solution .box_info {
	padding: 0;
}
.home_solution .box_title {
	padding: 10px 0;
	color: #D92935;
	font-size: 1.1em;
	text-align: center;
	border-bottom: 1px solid #DBDBDB;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home_solution .box_desc {
	padding: 10px 25px 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home_solution .box_desc ul {
	margin-bottom: 0;
}
.home_solution .box_desc p {
	margin-bottom: 0;
}


.home_service {
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: none;
}
.home_service .box_content {
	height: 200px;
	background-size: cover;
	background-position: center;
}
.home_service .box_info {
	padding: 0;
}
.home_service .box_title {
	padding: 10px 0;
	text-align: center;
	color: #D92935;
	font-size: 1.1em;
	height: 79px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home_products {
}
.home_products .featuredProduct .box_content {
	height: 150px;
}
.home_products .featuredProduct .box_link .fa {
	margin-left: 5px;
}

.home_news {
	margin: 90px 0;
	position: relative;
	color: white;
	min-height: 400px;
	background-image: url('../../assets/images/tower-bg4.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.home_news:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 0;
}
.home_news > * {
	position: relative;
}
.home_news .news {
	max-width: 400px;
	margin: 0 auto;
	padding-bottom: 15px;
}
.home_news .news_thumb {
	border: 6px solid white;
	border-radius: 5px;
	height: 200px;
	background-color: black;
}
.home_news .news_title {
	font-size: 1.2em;
	padding-top: 10px;
}
.home_news .news_date {
	font-size: 0.75em;
}
.home_news .news_excerpt {
	padding-top: 20px;
	font-size: 0.8em;
}
.home_news .news_readMore {
	padding-top: 10px;
	text-align: right;
}
.home_news .news_readMore a {
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}
.home_news .news_readMore a:hover {
	color: #D92935;
}
.home_newsFooter {
	padding: 10px 0 90px 0;
}

.home_partners {
	background-color: #F7F7F7;
	min-height: 0;
}
.home_partners .partner {
	display: block;
	max-width: 200px;
	margin: 0 auto;
	border: 1px solid transparent;
	transition: transform .2s ease-in-out;
}
.home_partners .partner:hover {
	transform: scale(1.1);
}

.home_clients {
	background-color: #F7F7F7;
	min-height: 0;
	margin-bottom: 100px;
}
.home_clients .client {
	display: block;
	max-width: 160px;
	padding: 15px;
	margin: 0 auto;
	border: 1px solid transparent;
	transition: transform .2s ease-in-out;
}
.home_clients .client:hover {
	transform: scale(1.1);
}

.home_quote {
	padding: 60px;
}
.home_quote_btn {
	text-align: center;
}
.home_quote_btn a {
	display: inline-block;
	padding: 15px;
	font-size: 1.2em;
	border: 1px solid transparent;
	background-color: #D92935;
	color: white;
	transition: transform .2s ease-in-out;
}
.home_quote_btn a:hover {
	transform: scale(1.05);
}

.home_moreLink {
	text-align: right;
}
.home_moreLink a {
	border: 1px solid transparent;
	background-color: #F7F7F7;
	padding: 10px;
}
.home_moreLink a:hover {
	color: #D92935;
	border-color: #D92935;
}

/* About page */

#aboutGallery {
	margin-bottom: 60px;
}
#aboutGallery img {
	margin-right: 8px;
}

.about {
	padding: 25px 0;
}

.about_fade {
	position: relative;
}
.about_fade:before {
	content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to left,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 1) 90%);
  width: 20px;
  height: 100%;
}
.about_fade:after {
	content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 1) 90%);
  width: 20px;
  height: 100%;
}

.about_whatWeDo {
	min-height: 0;
}

.about_whatWeDoPhoto {
	margin-bottom: 40px;
}
.about_whatWeDoText {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 1.1em;
}
.about_team .people {
	max-width: 250px;
	text-align: center;
}
.about_team .people_photo {
	height: 200px;
}
.about_team .people_desc {
	padding: 10px;
	height: 94px;
	border-top: 1px solid #F7F7F7;
	overflow: hidden;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.about_team .people_name {
	font-weight: bold;
	text-transform: uppercase;
}
.about_team .people_position {
	font-size: 0.85em;
	color: #D92935;
}

.about_info {
	padding: 40px 0 20px 0;
	margin: 90px 0;
	position: relative;
	color: white;
	min-height: 300px;
	background-image: url('../../assets/images/tower-bg4.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.about_info:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 0;
}
.about_info > * {
	position: relative;
}
.about_infoTitle {
	margin-bottom: 40px;
	text-align: center;
}
.about_infoDesc {
	margin-bottom: 40px;
}
.about_infoCoreValues {
	text-transform: uppercase;
	margin-bottom: 40px;
	letter-spacing: 2px;
	padding: 0 25px;
}
.about_infoCoreValues > div > span {
	color: #D92935;
	font-weight: bold;
	font-size: 1.3em;
}

.about_team {
	margin-bottom: 90px;
}

.about_partners {
	background-color: #F7F7F7;
	min-height: 0;
}
.about_partners .partner {
	display: block;
	max-width: 200px;
	margin: 0 auto;
	border: 1px solid transparent;
	transition: transform .2s ease-in-out;
}
.about_partners .partner:hover {
	transform: scale(1.1);
}

.about_clients {
	background-color: #F7F7F7;
	min-height: 0;
}
.about_clients .client {
	display: block;
	max-width: 160px;
	padding: 15px;
	margin: 0 auto;
	border: 1px solid transparent;
	transition: transform .2s ease-in-out;
}
.about_clients .client:hover {
	transform: scale(1.1);
}

/* Services */
.services {
	padding: 25px 0;
}
.services_intro {
	min-height: 0;
}

.services_introText {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
}

.services_category {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.services_category .panel_title {
	margin-top: 60px;
	margin-bottom: 60px;
}

.services_entry {
	margin: 10px auto;
	border: 0;
	border-top: 3px solid #D92935;
}
.services_entry .box_info {
	text-align: center;
	border-top: 0;
}



/* Solutions */
.solutions {
	padding: 25px 0;
}
.solutions_intro {
	min-height: 0;
}

.solutions_introText {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
}

.solutions_entries {

}
.solutions_entry {
}
.solutions_entry .box_content {
	height: 150px;
	border: 10px solid white;
}
.solutions_category .panel_content {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Contact page */

.contact {
	padding: 0;
	background-color: #F7F7F7;
}

.contact_map {
	width: 100%;
	height: 400px;
	background-color: #DBDBDB;
}

.contact_info {
	margin-bottom: 0;
	padding-top: 60px;
	padding-bottom: 60px;
}

.contact_form input,
.contact_form textarea {
	border-color: #D9D9D9;
	border-radius: 0;
}
.contact_other {
	background-color: white;
	padding: 20px;
	margin-bottom: 15px;
}
.contact_other-social a {
	color: #242424;
}
.contact_other-social a:hover {
	color: #D92935;
}

/* Quote page */
.quote {
	padding: 25px 0;
}
.quote_introText {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
}
.quote_introText p span {
	color: #D92935;
}

.quote_form {
	padding: 50px 0;
}
.quote_form input,
.quote_form textarea {
	border-color: #D9D9D9;
	border-radius: 0;
}
.quote_checkboxBlock {
	background-color: white;
	border: 1px solid #D9D9D9;
	padding: 7px 12px;
}
.quote_checkboxLabel {
	padding-bottom: 12px;
	color: #999999;
}
.quote_checkboxBlock p {
	margin: 0;
}
.quote_checkboxBlock .wpcf7-list-item-label {
	color: #242424;
}

/* Single Page */
.single {
	padding: 25px 0 100px 0;
}

.single_title {
	padding-top: 60px;
}

.single_title,
.single_meta {
	text-align: center;
}
.single_content {
	text-align: justify;
	padding-top: 40px;
	max-width: 650px;
	margin: 0 auto;
}
.single_featuredImage {
	width: 100%;
	height: 500px;
}