/* Medium devices */
.bttn {
	display: inline-block;
	width: auto;
}

.mobileHeader {
	display: none;
}
.mainHeader {
	display: block;
}
.mainContent {
	margin-top: 84px;
}

.mainFooter {
	position: relative;
}
.mainFooter_social {
	position: absolute;
	top: 20px;
	right: 20px;
}
.mainFooter_contact {
	padding-bottom: 0;
}
.mainFooter_social {
	padding: 0;
}
.mainFooter_social_info {
	text-align: right;
}
.mainFooter_social_info i {
	float: right;
	margin-left: 20px;
}

.home_moreProducts {
	text-align: right;
}

.about_whatWeDo_text {
	text-align: left;
}
.about_info {
	padding: 60px 0 20px 0;
}
.about_info_title {
	text-align: left;
}
.about_info_coreValues {
	padding: 0;
}