/* Medium devices */
.bttn {
	display: inline-block;
	width: auto;
}

.mobileHeader {
	display: none;
}
.mainHeader {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	padding: 0 10px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px;
	z-index: 99999;
}
.mainHeader_logo {
	width: 140px;
	float: left;
	padding: 10px 0;
	display: none;
}
.mainHeader_menu {
	float: right;
}
.mainHeader_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mainHeader_menu ul li {
	float: left;
}
.mainHeader_menu ul li a {
	position: relative;
	color: #242424;
	display: block;
	padding: 29px 4px;
	margin-left: 5px;
}
.mainHeader_menu ul li a:before {
	position: absolute;
	top: -5px;
	left: 0;
	content: "";
	background-color: #D92935;
	width: 100%;
	height: 5px;

	transition: top 0.1s;
}
.mainHeader_menu ul li.current-menu-item a:before {
	top: 0;
}
.mainHeader_menu ul li a:hover {
	text-decoration: none;
}
.mainHeader_menu ul li a:hover:before {
	top: 0;
}

.mainHeader_menu ul li:last-child a {
	font-weight: bold;
	color: #D92935;
}

.mainContent {
	margin-top: 84px;
}

.mainFooter {
	position: relative;
}
.mainFooter_social {
	position: absolute;
	top: 20px;
	right: 20px;
}
.mainFooter_contact {
	padding-bottom: 0;
}
.mainFooter_social {
	padding: 0;
}
.mainFooter_socialInfo {
	text-align: right;
}
.mainFooter_socialInfo i {
	float: right;
	margin-left: 20px;
}

.home_moreProducts {
	text-align: right;
}

.about_whatWeDoText {
	text-align: left;
}
.about_info {
	padding: 60px 0 20px 0;
}
.about_infoTitle {
	text-align: left;
}
.about_infoCoreValues {
	padding: 0;
}
.about_fade:before {
  width: 55px;
}
.about_fade:after {
  width: 55px;
}

.quote_form textarea {
	height: 256px;
}
.quote_submit {
	text-align: center;
	margin-top: 30px;
}

.solutions_category .panel_desc,
.services_category .panel_desc {
	max-width: 600px;
}

.services_category .panel_title {
	margin-bottom: 80px;
}