/* Small devices */

.mainFooter_copy {
	margin-top: 30px;
}
.mainFooter_copy-plain {
	border: 0;
	margin-top: 0;
}

.mainFooter_socialInfo {
	text-align: right;
}
.mainFooter_socialInfo i {
	float: right;
	margin-left: 20px;
}

.home_solutions .solution {
	font-size: 0.9em;
}

.home_products .featuredProduct .box_info {
	height: 161px;
	position: relative;
}

.about_team .people {
	margin: 15px auto;
}

.services_entry .box_info {
	overflow-y: auto;
}

.solutions_entry .box_info {
	height: 130px;
	position: relative;
}
.solutions_entry .box_link,
.home_products .featuredProduct .box_link {
	position: absolute;
	padding: 10px;
	bottom: 0;
	left: 0;
	width: 100%;
}